title: PKP Documentation Hub
plugins:
  - jekyll-seo-tag
  - jekyll-relative-links
  - jekyll-optional-front-matter
  - jekyll-default-layout
  - jekyll-titles-from-headings
  - jekyll-readme-index
defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "book"
  -
    scope:
      path: "dev/api"
      type: "pages"
    values:
      swaggerUiVersion: 3
url: "https://docs.pkp.sfu.ca" # the base hostname & protocol for your site
readme_index:
  enabled: true
  remove_originals: false
  with_frontmatter: true
include:
  - _all-skins.css # For the SchemaSpy database documentation (Jekyll excludes files that start with _)
  - _all-skins.min.css # For the SchemaSpy database documentation (Jekyll excludes files that start with _)
exclude:
  - dev/ui-library/**/*.md # For the Readme.md files included in the fonts directory (Jekyll will try to make a page out of it)
plugins:
  - jekyll-sitemap
