<div class="bookHeader">
	{% if page.isBookIndex != true %}
		<button id="sidebarControl" class="bookHeader__sidebarControl">
			<span class="fa fa-bars" aria-hidden="true"></span>
			<span class="fa fa-times" aria-hidden="true"></span>
			<span class="-screenReader">{{ site.data.site.toggleMenu }}</span>
		</button>
	{% endif %}
	<a class="bookHeader__logo" href="/">
		<img src="/img/help-logo.png" class="bookHeader__logoImage">
	</a>
	{% assign versions = site.data.versions[page.book] %}
	{% assign current = page.version %}
	{% include versions.html %}
</div>
