<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="PKP Docs">
{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	<meta property="og:description" content="{{ page.description }}">
{% endif %}
{% if page.url %}
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.noindex %}
	<meta name="robots" content="noindex">
{% endif %}
<link type="text/css" href="/css/book.css" rel="stylesheet" media="all">
<script defer src="/assets/js/smooth-scroll.polyfills.min.js"></script>
<script defer src="/assets/js/fontawesome.min.js"></script>
