@import "fonts.css";

html,
body {
	font-family: "Noto Sans", "Noto Kufi Arabic", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	background: #fff;
	padding: 14px;
	margin: 0;
}

p:first-child {
	margin-top: 0;
}

span.pkpTag {
	padding: 0.5em;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	color: #777;
}

a {
	color: #006798;
}

a:hover,
a:focus {
	color: #113241;
}
