@mixin container {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;

	@media (min-width: 768px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@media (min-width: 1400px) {
		max-width: 1200px;
	}
}
