$bg: #fff;
$bg-shade: #eee;
$bg-dark: #002c40;

$text: $bg-dark;
$text-light: rgba($bg-dark, 0.7);
$text-on-dark: #fff;

$link: #0073A8;
$link-hover: lighten($link, 10%);

$link-footer: #D5D7D7;
$link-footer-hover: #F7CAD3;

$help: #1CA683;
$tech: #e08914;
$warning: #e0143f;


$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$radius: 3px;