$bg: #fff;
$bg-shade: #eee;
$bg-dark: #002c40;

$text: $bg-dark;
$text-light: rgba($bg-dark, 0.7);
$text-on-dark: #fff;

$link: #007ab2;
$link-hover: lighten($link, 10%);

$help: #00b28d;
$tech: #e08914;


$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$radius: 3px;
