*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.-screenReader {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	left: -2000px;

	&:focus {
		background-color: #fff;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #000;
		display: block;
		font-size: 1rem;
		height: auto;
		line-height: normal;
		padding: 1rem;
		position: absolute;
		left: 1rem;
		top: 1rem;
		text-decoration: none;
		width: auto;
		z-index: 100000;
	}
}

html,
body {
	margin: 0;
	background: $bg;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.8em;
	font-weight: $normal;
	color: $text;
}

a {
	color: $link;
	font-weight: $medium;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link-hover;
	}
}

.site-row {
	@include container;
}
