<div class="app" id="app{{ app.path }}">
	<h2 class="app__title">
		{{ app.title }}
	</h2>
	<div class="app__description">{{ app.description | markdownify }}</div>
	{% if app.cards %}
		<div class="app__cards" data-masonry='{"itemSelector":".card","gutter": 28,"percentPosition":true}'>
			{% for card in app.cards %}
				<div class="card{% if card.isHighlighted %} card--isHighlighted{% endif %}{% if card.isDeveloper %} card--isDeveloper{% endif %}">
					{% capture markdownify_include %}	{% include cards/{{ app.path}}/{{ card.path}}.md %}{% endcapture %}
					{{ markdownify_include | markdownify }}
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
