<footer class="siteFooter">
	<div class="siteFooter__container">
		<div class="siteFooter__top">
			<section class="siteFooter__nav" aria-labelledby="footer-contact">
				<div class="siteFooter__navHeader" id="footer-contact">
					{{ site.data.site.navContactUs.title }}
				</div>
				<p>Have a question or suggestion about PKP’s documentation and user guides? <a href="https://pkp.sfu.ca/documentation-feedback/">Use our documentation contact form</a>.</p>
				<p>If your message is not about documentation, please use the general <a href="https://pkp.sfu.ca/contact-us/">contact form</a>.</p>
			</section>
			{% if site.data.site.navContrib %}
				<nav class="siteFooter__nav" aria-labelledby="footer-contrib">
					<div class="siteFooter__navHeader" id="footer-contrib">
						{{ site.data.site.navContrib.title }}
					</div>
					<ul>
						{% for nav in site.data.site.navContrib.items %}
							<li>{{ nav | markdownify | remove: '<p>' | remove: '</p>' }}</li>
						{% endfor %}
					</ul>
				</nav>
			{% endif %}
			{% if site.data.site.navAbout %}
				<nav class="siteFooter__nav" aria-labelledby="footer-about">
					<div class="siteFooter__navHeader" id="footer-about">
						{{ site.data.site.navAbout.title }}
					</div>
					<ul>
						{% for nav in site.data.site.navAbout.items %}
							<li>{{ nav | markdownify | remove: '<p>' | remove: '</p>' }}</li>
						{% endfor %}
					</ul>
				</nav>
			{% endif %}
			<div class="siteFooter__logo">
				<a href="https://pkp.sfu.ca">
					<img src="/img/logo-on-grey.png" alt="Public Knowledge Project">
				</a>
				<p>The Public Knowledge Project is a Core Facility of Simon Fraser University</p>
                <p>888 University Drive, Burnaby, B.C., Canada V5A 1S6</p>
                <p>We respectfully acknowledge that SFU occupies the unceded traditional territories of the Coast Salish peoples of the Musqueam, Squamish, and Tsleil-Waututh Nations.</p>
			</div>
		</div>
		<div class="siteFooter__bottom">
			<p class="footer-copyright"><span class="terms-text"><a href="https://www.sfu.ca/contact/terms-conditions.html" target="_blank">TERMS & CONDITIONS</a> &copy; SIMON FRASER UNIVERSITY.</span><span class="copyright-text"><img src="/img/creativecommons.svg" alt="Creative Commons logo" /><img src="/img/attribution.svg" alt="Attribution icon" /><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0<span class="-screenReader"> - Attribution 4.0 International </span></a></span></p>
		</div>
	</div>
</footer>
