<div class="hero">
	<div class="hero__content">
		<div class="hero__text">{{ site.data.index.heroText | markdownify }}</div>
		{% if site.data.index.apps %}
			<div class="hero__links">
				<span class="hero__linksLabel">{{ site.data.index.quickLinksLabel }}</span>
				{% for app in site.data.index.apps %}
					{% if app.includeInHero %}
						<a class="hero__link" href="#app{{ app.path }}">{{ app.titleShort }}</a>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		<script async src="https://cse.google.com/cse.js?cx=342127f3c8880483d">
		</script>
		<div class="gcse-search"></div>
	</div>
</div>
