.bookHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 0 1rem;
	background: $bg;
	border-bottom: 1px solid $bg-shade;
	z-index: 999;
}

.bookHeader__logo {
	display: inline-block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: $light;
	line-height: 1.2em;
	color: $text;
	text-decoration: none;
}

.bookHeader__logoImage {
	max-height: 32px;
	width: auto;
	display: block;
}

.bookHeader__sidebarControl {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	padding: 1rem;
	border: none;
	border-right: 1px solid $bg-shade;
	background: transparent;
	font-size: 1.5rem;
	line-height: 1.2em;
	color: $text;
	cursor: pointer;

	&:hover,
	&:focus {
		box-shadow: inset 4px 0 0 $link;
		outline: 0;
	}

	.fa-bars,
	.fa-times {
		min-width: 2rem;
		text-align: center;
	}

	.fa-times {
		display: none;
	}

	+ .bookHeader__logo {
		margin-left: 60px;
	}
}

.-sidebarIsOpen .bookHeader__sidebarControl {

	.fa-bars {
		display: none;
	}

	.fa-times {
		display: inline-block;
	}
}

.bookHeader {
	.bookHeaderTools {
		display: inline-block;
		float: right;
		margin-top: 20px;

		.search {
			display: inline-block;
			vertical-align: top;
		}

		.versions {
			display: inline-block;
			margin-left: 20px;
			vertical-align: top;
		}
	}
}

// Prevent anchors from scrolling behind header
// See https://github.com/pkp/pkp-docs/issues/567
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
	scroll-margin-top: 100px;
}

@media (min-width: 768px) {

	.bookHeader {
		padding: 0 1rem;
	}
}

@media (min-width: 992px) {

	.bookHeader {
		position: fixed;
		height: 5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.bookHeader__sidebarControl {
		display: none;

		+ .bookHeader__logo {
			margin-left: 0;
		}
	}
}

/* New Book Header Styles */
.bookHeader {
    display: flex;
    flex-direction: row;
    padding: 24px;
    justify-content: justify;
    align-items: flex-end;
    height: 144px;
    .bookHeader__logo {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 300px;
        height: auto;
        .bookHeader__logoImage {
            max-height: none;
            width: 300px;
        }
    }
    .bookHeaderTools {
        text-align: right;
        flex-grow: 1;
        float: none;
        color: #414042;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.4px;
        position: relative;
        bottom: -9px;
        padding-left: 69px;
        .version {
            position: relative;
            top: 4px;
        }
    }
}
.body--withSidebar .book__sidebar {
    top: 144px !important;
}
@media (max-width: 900px) {
    .bookHeader {
		
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: justify;
        align-items: flex-start;
        background-color: #CC0633;
        height: auto;
		.gsc-input-box {
			padding-top: 0px;
			padding-bottom: 0px;
		}
        #sidebarControl {
            color: #FFF;
        }
        .bookHeader__logo {
            padding-top: 0px;
            padding-bottom: 0px;
            width: 150px;
            height: 47.5px;
            .bookHeader__logoImage {
                max-height: none;
                width: 150px;
                height: 47.5px;
                display: none;
            }
            background-image: url(/img/logo-on-red.png);
            background-size: cover;
        }
        .bookHeaderTools {
            text-align: right;
            flex-grow: 1;
            float: none;
            color: #414042;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 0.4px;
            position: relative;
            bottom: 0px;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            table.gsc-search-box {
                width: calc(100% - 50px);
            }
            .versions {
                text-align: left;
                margin-left: 0px;
                .version {
                    position: relative;
                    top: 0px;
                    color: #FFF;
                    &.version--current {
                        background-color: #FFF;
                        border-color: #FFF;
                        color: #CC0633;
                    }
                    &:hover {
                        border-color: #FFF;
                    }
                }
            }
        }
    }
    .body--withSidebar .book__sidebar {
        top: 190px !important;
    }
}