.button {
	display: inline-block;
	padding: 0.5em 1em;
	border: 2px solid $link;
	border-radius: $radius;
	line-height: 1.5em;
	color: $link;
	background: transparent;
	box-shadow: 0 1px 0 $link;
	text-align: center;
	text-decoration: none;

	&:hover,
	&:focus {
		background: $link;
		color: $text-on-dark;
	}
}
