.hero {
	background: $bg-shade;

	.search {
		margin-top: 3rem;
		margin-bottom: 4.5rem;
		width: 100%;
	}
}

.hero__content {
	@include container;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.hero__text {
	max-width: 500px;
	font-size: 1.8rem;
	font-weight: $light;
	line-height: 1.2em;

	p {
		margin: 0;
	}
}

.hero__linksLabel {
	margin-right: 0.5rem;
}

.hero__link {
	display: inline-block;
	margin-bottom: 1rem;
	margin-right: 1rem;
	border-bottom: 2px solid $link;
	line-height: 1.5em;
}

@media (min-width: 480px) {

	.hero__content {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

@media (min-width: 768px) {

	.hero__content {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.hero__text  {
		font-size: 2rem;
		line-height: 1.5em;
	}
}

@media (min-width: 992px) {

	.hero__text  {
		max-width: 600px;
		font-size: 2.2rem;
		line-height: 1.5em;
	}
}

@media (min-width: 1200px) {

	.hero__content {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

@media (min-width: 1400px) {

	.hero__content {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	.hero .search {
		margin-top: 4rem;
	}
}
