pre,
pre.highlight {
	margin: 2rem 0;
	padding: 1rem;
	overflow: auto;
	line-height: 1.5em;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
}


code {
	padding: 1px 0.25em;
	border-radius: 3px;
	border: 1px solid #c6f0e7;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	font-weight: 700;
	color: #00b28d;
}

.highlight code {
	padding: 0;
	border: none;
	font-weight: 400;
	color: #d0d0d0;
}
