.search {
	display: inline-block;
	position: relative;
	max-width: 25em;
}

.search__inputWrapper {
	display: block;
	position: relative;
	border: 2px solid $link;
	border-radius: $radius;
	background: $bg;
}

.search__icon {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3rem;
	background: $link;
	color: $text-on-dark;
	cursor: pointer;

	.fa-spinner,
	.fa-search {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.fa-spinner {
		display: none;
		margin-top: -0.5rem;
		margin-left: -0.5rem;
		transform: none;
	}

	.fa-search {
		display: block;
	}
}

.search__input {
	width: 100%;
	padding: 0.25em 1em 0.25em 4rem;
	border: none;
	box-shadow: none;
	line-height: 2rem;
}

.search__results {
	position: absolute;
	top: 100%;
	margin-top: -3px;
	z-index: 1;
	width: 100%;
	background: $bg;
	border: 2px solid $link;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.search__results:empty {
	display: none;
}

.search__resultsMessage,
.search__result {
	padding: 0.25rem 1rem;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.siteHeader__search--loading {

	.fa-spinner {
		display: block;
	}

	.fa-search {
		display: none;
	}
}
