.siteHeader {
	@include container;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.siteHeader__logo {
	display: inline-block;
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-size: 1.5rem;
	font-weight: $light;
	line-height: 1.2em;
	color: $text;
	text-decoration: none;
	vertical-align: middle;
}

.siteHeader__logoImage {
	max-height: 30px;
	width: auto;
	display: block;
}

.siteHeader__about {
	position: absolute;
	left: -9999px;
}

.siteHeader--book {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $bg;
	border-bottom: 1px solid $bg-shade;
}

@media (min-width: 768px) {

	.siteHeader {
		position: relative;
	}

	.siteHeader--book {
		position: fixed;
	}

	.siteHeader__about {
		display: inline-block;
		position: relative;
		left: auto;
		max-width: 75%;
		padding-left: 2rem;
		vertical-align: middle;

		p {
			margin: 0;
		}

		a {
			color: $text;
			text-decoration: underline;

			&:hover,
			&:focus {
				color: lighten($text, 10%);
			}
		}
	}
}

@media (min-width: 1400px) {

	.siteHeader__about {
		float: right;
		line-height: 44px;
	}
}

/* New Header Styles */
.siteHeader {
    display: flex;
    flex-direction: row;
    padding: 24px;
    align-items: flex-end;
    .siteHeader__logo {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 300px;
        height: auto;
        .siteHeader__logoImage {
            max-height: none;
            width: 300px;
        }
    }
    .siteHeader__about {
        float: none;
        color: #414042;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.4px;
        position: relative;
        bottom: 10px;
        padding-left: 69px;
    }
}
@media (max-width: 800px) {
    .siteHeader {
        display: flex;
        flex-direction: column;
        padding: 24px;
        align-items: flex-start;
        background-color: #CC0633;
        .siteHeader__logo {
            padding-top: 0px;
            padding-bottom: 0px;
            width: 222px;
            height: 70.3px;

            .siteHeader__logoImage {
                max-height: none;
                width: 222px;
                height: 70.3px;
                display: none;
            }
            background-image: url(/img/logo-on-red.png);
            background-size: cover;
        }
        .siteHeader__about {
            a {
                color: #FFF;
                font-style: normal;
                font-weight: 400;
                text-decoration: underline;
            }
            float: none;
            color: #FFF;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0.28px;
            position: relative;
            bottom: 0px;
            left: 0px;
            padding-left: 0px;
        }
    }
}