.siteHeader {
	@include container;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.siteHeader__logo {
	display: inline-block;
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-size: 1.5rem;
	font-weight: $light;
	line-height: 1.2em;
	color: $text;
	text-decoration: none;
	vertical-align: middle;
}

.siteHeader__logoImage {
	max-height: 30px;
	width: auto;
	display: block;
}

.siteHeader__about {
	position: absolute;
	left: -9999px;
}

.siteHeader--book {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $bg;
	border-bottom: 1px solid $bg-shade;
}

@media (min-width: 768px) {

	.siteHeader {
		position: relative;
	}

	.siteHeader--book {
		position: fixed;
	}

	.siteHeader__about {
		display: inline-block;
		position: relative;
		left: auto;
		max-width: 75%;
		padding-left: 2rem;
		vertical-align: middle;

		p {
			margin: 0;
		}

		a {
			color: $text;
			text-decoration: underline;

			&:hover,
			&:focus {
				color: lighten($text, 10%);
			}
		}
	}
}

@media (min-width: 1400px) {

	.siteHeader__about {
		float: right;
		line-height: 44px;
	}
}
