.versions {
	display: inline-block;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.5em;
	}

	&__item {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}

.version {
	display: inline-block;
	padding: 0 1em;
	border: 1px solid transparent;
	border-radius: 15px;
	font-weight: 700;
	line-height: 30px;
	text-decoration: none;

	&:hover,
	&:focus {
		border-color: $link;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	&:focus-visible {
		outline: 2px solid $link;
		outline-offset: 2px;
	}
}

.version--current {
	border-color: $link;
	background: $link;
	color: $text-on-dark;
}
