<!DOCTYPE html>
<html lang="en-US">
	{% include book/head.html %}
	<body {% if page.isBookIndex != true %} class="body--withSidebar"{% endif %}>
		{% include book/header.html %}
		<div class="book">
			<a href="#sidebar" class="-screenReader">{{ site.data.site.skipToSummary }}</a>
			<div class="book__page">
				<div class="book__content">
					<div class="book__improve">
						<a href="{{ site.data.site.improveLinkBaseUrl }}{{ page.path }}">
							{{ site.data.site.improveLink }}
						</a>
						{{ site.data.site.orText }}
						<a href="{{ site.data.site.contactBaseUrl }}">
							{{ site.data.site.contactLink }}
						</a>
					</div>
					{% include anchor_headings.html html=content anchorBody='#' anchorTitle='Link to %heading% section' h_min=2 %}
					{% if page.isBookIndex %}
						{% include book/copyright.html %}
					{% endif %}
					<div class="book__footer">
						<div class="book__improve">
							<a href="{{ site.data.site.improveLinkBaseUrl }}{{ page.path }}">
								{{ site.data.site.improveLink }}
							</a>
							{{ site.data.site.orText }}
							<a href="{{ site.data.site.contactBaseUrl }}">
								{{ site.data.site.contactLink }}
							</a>
						</div>
					</div>
				</div>
			</div>
			{% if page.generateHeadingToc or page.isBookIndex != true %}
				<div class="book__sidebarScreen"></div>
				<div id="sidebar" class="book__sidebar">
					<div class="book__summary">
						{% if page.generateHeadingToc %}
							{% include book/toc.html html=content h_min=2 h_max=3 %}
						{% elsif page.isBookIndex != true %}
								{% capture markdownify_include %}{% include_relative SUMMARY.md %}{% endcapture %}
								{{ markdownify_include | replace: ".md", "" | markdownify }}
						{% endif %}
					</div>
					<div class="book__backToHub">
						<span class="fa fa-long-arrow-alt-left" aria-hidden="true"></span>
						{{ site.data.site.linkBackToDocs | markdownify }}
					</div>
					<div class="book__spacer"></div>
				</div>
			{% endif %}
		</div>
		<div class="book__footerWrapper">
			{% include hub/footer.html %}
		</div>
		<script type="text/javascript">{% include js/sidebarToggle.js %}</script>
		<script type="text/javascript">{% include js/smoothScrolling.js %}</script>
		{% include analytics.html %}
	</body>
</html>
